# Create join game and create game
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
<title></title>
{% endblock %}

{% block body %}
<head>
    <script type = "text/javascript" src="../static/scripts/index.js"></script>
</head>
<div class="content">
    <h1 style="text-align: center">Tic Tac Toe</h1>
    
    
    <h4 style="text-align: center">Join game or Create Game</h4>
    <button id="create_button" onclick="window.location.href='/create'">Create game</button>
    {{ wtf.quick_form(form) }}
    <!-- <form>
        <input type="text" name="game_id" id="game_id">
        <button id="join_button" value="Enter Game ID" onclick="window.location.href='/join'">Submit</button>
    </form> -->
    
</div>
{% endblock %}


